*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(indir\ \(1\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*container ana ekran */
.container{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    color: white;
}

.navbar{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.logo{
    height: 100px;
    cursor: pointer;
}

.logo:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.bi{
    font-size: 50px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
.bi:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

nav{
    flex: 1;
    text-align: right; 
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 13px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
 
  
}
nav ul li a::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: red;
    bottom: -4px;
    left: 0;
    position: absolute;

}
nav ul li a:hover::after{
    width: 100%;
    transition: 0.3s;
}


.row{
    display: flex;
    height: 90%;
    align-items: center;
   

}

.col{
    flex-basis: 50%;
    margin-top: 20px;
}
h1{
    font-size: 80px;
}
p{
    font-size: 20pxpx;
    line-height: 25px;
    max-width: 500px;
}
button{
    color: #169fdf;
    font-size: 15px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: solid red;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(rgb(3, 37, 148), rgb(43, 127, 253));
    border: none;
    color: wheat;
    transition: 0.3s;
    font-size: 16px;
}

.card{
    width: 250px;
    background-color: white;
    display: inline-block;
    border-radius:10px ;
    height: 400px;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform .5s;
}

.card:hover{
    transform: translateY(-10px);
}

.card p, h3{
    text-shadow: 0,10px black;
    text-indent: 10px;
    padding: 2px;
    
}
#card1{
    background-image: url(1.FOTO.jpg); 
    color: black
}
#card2{
    background-image: url(2.FOTO.jpg);
    color: black;
}
#card3{
    background-image: url(4.FOTO.jpg);
    color: black;
}
#card4{
    background-image: url(3.FOTO.jpg);
    color: black;
   
}

@media (max-width:768px) {
    nav{
        display: none;
    }
    .bi{
        display: block;
    }
    .row{display: block;
    }
    .card{
        width:180px;
        
    }
    .row .col p{
        font-size: 15px;
        font-style: italic;
    }
}